:host {
  margin-top: auto; /* Pousse le footer vers le bas */
}

.cursor-pointer {
  cursor: pointer;
}

.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
}

.hover-footer:hover {
  background-color: var(--color-footer-hover);
  color: #E2E8F0;
}