@use '../../../assets/styles/variables' as *;

:host {
  margin-top: auto; /* Pousse le footer vers le bas */
}

.cursor-pointer {
  cursor: pointer;
}

.footer {
  background-color: $color-blue-800;
  color: $color-bg;
}

.hover-footer:hover {
  background-color: $color-blue-200;
  color: $color-text;
}
