<section class="w-full relative overflow-hidden bg-white-light">
  <div>
    <div class="flex flex-col md:flex-row w-full gap-0 min-h-screen">
      <!-- Colonne de navigation - Fond bleu -->
      <div class="w-full md:max-w-[340px] bg-blue-medium">
        <app-admin-pannel [activePage]="'medias'"></app-admin-pannel>
      </div>

      <!-- Corps de texte - Fond bleu ciel -->
      <div class="flex-1 bg-blue-very-light p-6 md:p-8 lg:p-10">
        <app-admin-table databaseTableName="Vidéos" [databaseItemsCount]="videosCount" [databaseTable]="videosTable" (editClicked)="onEdit($event)">
        </app-admin-table>
        <app-admin-edition
          [isVisible]="isModalOpen"
          [selectedItem]="selectedVideo"
          (closeModal)="closeModal()"
          editionTitle="Editer la vidéo"
          [databaseTable]="videosTable">
        </app-admin-edition>
      </div>
    </div>
  </div>
</section>
