<div
  id="static-modal"
  data-modal-backdrop="static"
  tabindex="-1"
  [attr.aria-hidden]="!isVisible"
  [style.display]="isVisible ? 'flex' : 'none'"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          {{ editionTitle }}
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          (click)="close()"
          data-modal-hide="static-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <form class="space-y-4" action="#">
          @for (col of databaseTable.columns; track $index) {
            <div>
              <label [for]="col.key" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ col.label }}</label>
              @if (col.weight && col.weight >= 3) {
                <textarea
                  [id]="col.key"
                  rows="4"
                  [value]="getValue(col.key)"
                  class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white">
                </textarea>
              } @else if (col.type === 'hour') {
                <input
                  type="time"
                  [id]="col.key"
                  [value]="getValue(col.key)"
                  class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
              } @else if (col.type === 'date' || col.key === 'created_at') {
                <input
                  type="date"
                  [id]="col.key"
                  [value]="getValue(col.key)"
                  class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
              } @else if (col.type === 'number') {
                <input
                  type="number"
                  [id]="col.key"
                  [value]="getValue(col.key)"
                  min="0"
                  max="5"
                  step="1"
                  (input)="markInvalid(col.key, $any($event.target).value)"
                  class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
                @if (invalidValues[col.key]) {
                  <p class="mt-1 text-sm color-error-dark">Valeur invalide - la valeur doit être comprise entre 0 et 5</p>
                }
              } @else {
                <input
                  type="text"
                  [id]="col.key"
                  [value]="getValue(col.key)"
                  class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white" />
              }
            </div>
          }
        </form>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-4 md:p-5 gap-4 rounded-b dark:border-gray-600">
        <button
          data-modal-hide="static-modal"
          type="button"
          (click)="close()"
          class="w-full px-3.5 py-2.5 text-center text-sm font-semibold button-info">
          Annuler
        </button>
        <button data-modal-hide="static-modal" type="button" class="w-full px-3.5 py-2.5 text-center text-sm font-semibold button-action">
          Sauvegarder
        </button>
      </div>
    </div>
  </div>
</div>
