<div class="bg-light-mode py-12 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto lg:mx-0">
      <h1 class="text-3xl font-bold tracking-tight text-pretty color-blue-800 sm:text-4xl lg:text-5xl section-line">Plan du site</h1>
      <nav aria-label="Plan du site">
        <ul class="list-disc list-inside mb-4 color-grey-800 pt-6 md:pt-8 lg:pt-12">
          <li><a routerLink="/" class="visible-link">Accueil</a></li>
          <li><a routerLink="/news" class="visible-link">Actualités</a></li>
          <li><a routerLink="/medias" class="visible-link">Vidéos et ressources</a></li>
          <li><a routerLink="/contact" class="visible-link">Contact</a></li>
          <li><a routerLink="/legal" class="visible-link">Mentions légales</a></li>
          <li><a routerLink="/privacy" class="visible-link">Politique de confidentialité</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
