<section class="grid min-h-full place-items-center bg-blue-very-light px-6 py-12 sm:py-20 lg:px-8">
  <div class="text-center max-w-3xl mx-auto">
    <img src="assets/picture_404_page.png" alt="image 404" class="mx-auto h-72 sm:h-80 lg:h-96 w-auto" />

    <h1 class="mt-6 text-4xl font-semibold tracking-tight text-balance color-blue sm:text-6xl">Page introuvable</h1>

    <p class="mt-6 text-lg font-medium text-pretty sm:text-xl/8 max-w-2xl mx-auto">
      Nous sommes désolés, la page que vous essayez d'atteindre est introuvable.
    </p>
    <p class="mt-3 text-lg font-medium text-pretty sm:text-xl/8 max-w-2xl mx-auto">Vérifiez l'adresse que vous avez saisie.</p>

    <div class="mt-10 flex items-center justify-center">
      <a href="/">
        <button class="px-6 py-3 text-lg font-semibold button-info rounded-xl shadow-md">Retour vers l'accueil</button>
      </a>
    </div>
  </div>
</section>
