// ========================================
// COLOR VARIABLES
// ========================================

// PRIMARY COLOR
$color-blue-800: #00347a;
$color-blue-700: #004aad;
$color-blue-200: #add0ff;
$color-blue-100: #e0edff;

// SECONDARY COLOR
$color-bronze-600: #ad7235;
$color-bronze-400: #d4a574;
$color-bronze-200: #ecd7c2;

// GREY TONES
$color-grey-800: #455d7d;
$color-grey-500: #93a5bc;
$color-grey-300: #dae0e8;
$color-grey-100: #ecf0f4;

// BACKGROUND COLOR
$color-white: #fafbfc;

// TEXT COLOR
$color-black: #2c3e50;

// ALERT COLORS
$color-warning-dark: #7a4600;
$color-warning-light: #fff2e0;
$color-success-dark: #16605e;
$color-success-light: #eaf3f2;
$color-error-dark: #7a0035;
$color-error-light: #fae9eb;
